[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
urwid = "*"
pygments = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pyfakefs = "*"

[requires]
python_version = "3.7"
