[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pycairo = "*"
pygobject = "*"
urwid = "*"
typing-extensions = "*"

[dev-packages]
mypy = "*"
pytest = "*"

[requires]
python_version = "3.7"
